body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.width-limited-text {
  max-width: 600px;
  margin: auto;
}

.hide {display: none!important;}

.content {
  padding: 13px;
}

.piano {
  height: 208px;
  margin: 0 auto;
  margin-left: 1.26em;
  width: 101%;
}

.key {
  float: left;
  width: 60px;
  height: 225px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  /* display: inline-block; */
  /* margin-right: 4px; */
  cursor: pointer;
  margin-top: 4px;
  margin-left: -23px;
  user-select: none;
}

.black-key {
  float: left;
  width: 45px;
  height: 120px;
  background-color: black;
  border: 1px solid black;
  position: relative;
  margin-top: 4px;
  margin-left: -24px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.key.half {
  margin-left: -1px !important;
}
.key:after, .black-key:after {
  content: '';
  height: 0.5em;
  width: 100%;
  display: block;
  position: absolute;
  background: gray;
  bottom: 0;
  margin: 0 auto;
}

.black-key::after {
  content: '';
  background: white;
  opacity: 0.165;
}

.active {
  //background: lightseagreen;
  border: 2px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 2;
}

.active:after {
  background: white;
}

.right {
  background: green!important;
}

.wrong {
  background: red!important;
}

.songsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 13px 0 10px;
}

.song_old {
  font-size: 0.8em;
  padding: 6px;
  display: inline-block;
  width: 228px;
  cursor: pointer;
  border-bottom: 1px dotted gray;
  border-left: 1px dashed gray;
  user-select: none;
}

.song {
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
  margin-right: 7px;
}

.song:hover {
  background: cyan;
}

/* OLD 
.songsWrapper > div:last-child {
  border-left: 1px dashed gray;
}

.song:nth-child(3n-1) {
  border-right: 1px dashed gray;
}

.song:nth-child(1), 
.song:nth-child(3),  
.song:nth-child(5)  {
  border-top: 1px dotted gray;

}
*/

.activa {
  background: teal;
}

.playing > i.fa {
  display: inline-block!important;
  user-select: none;
}

.keysWrapper {
  display: flex;
  margin: 20px 0;
  flex-direction: row;
  align-items: flex-start;
}

.keysWrapper > div {
  background: gray;
  border: 1px solid;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  line-height: 1.6em;
  color: orange;
  font-size: 1.6em;
  cursor: pointer;
  font-weight: 700;
  user-select: none;
}

.keysWrapper > div:nth-child(2n) {
  margin-left: -45px;
}

.keysWrapper > div:nth-child(odd) {
  margin-top: 55px;
  margin-left: -45px;
}

.keysWrapper >div:first-child {
  margin-left: 0!important;
}

.keysWrapper > div:hover {
  background: darkgray;
}

.stop_music, .start_game, .next_music, .repeat_music,.start_music {
    /* position: absolute; */
    top: 2.5%;
    left: 45%;
    border: solid 1px;
    padding: 5px;
    font-size: 0.9em;
    background: gold;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
    width: 8em;
    text-align: center;
    float: right;
    user-select: none;
}

.start_game, .next_music {
  left: 40%;
}

.repeat_music {
  left: 30%;
}


@media only screen and (min-width: 390px) {
  .start_game, .next_music {
    right: 15%;
    left: unset;
  }

  .stop_music, .start_music {
    left: unset;
    right: 5%;
  }

  .songsWrapper {
   // width: 75%!important;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1433) {
  .songsWrapper {
   // width: 75%!important;
  }

  .behavior_controls {
     margin-bottom: 0%!important;
  }
}

@media only screen and (min-width: 1434) {
  .songsWrapper {

  }
}



.stop_music:hover, .start_game:hover, .next_music:hover, .start_music:hover, .repeat_music:hover {
  background: goldenrod;
}

.songVolText {
  font-weight: bold;
}

.songVolInput {
  vertical-align: middle;
  margin-right: 80px;
}

.pianoVolText {
  font-weight: bold;
}

.pianoVolInput {
  vertical-align: middle;
  display: inline-block;
}

.behavior_controls {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2%;
}

.piano_zone {
  margin: 0 auto;
  width: 92%;
  max-width: 860px;
  background: cadetblue;
  border: 11px solid black;
}

.content {
    display: flex;
    flex-direction: column;
}

.settings {
  bottom: 5px;
  margin-top: 2em;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.announcement {
  border-radius: 10px;
  opacity: 0.8;
  background: darkslateblue;
  padding: 6px;
  display: flex;
  margin-bottom: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.announcement > h3 {
  color: floralwhite;
  font-size: 1.4em;
  font-family: monospace;
  margin: 0;
}

.settings.noBanner {
    margin-top: 5em;
    float: left;
    margin-bottom: 3em;
}

